<div>
	<%= render partial: "dishes/header" %>
</div>
<div>
	<%= render partial: "user_profile" %>
</div>
<nav>
	<div class="nav nav-tabs nav-fill user-tabs">
		<%= link_to'Profile', user_path(current_user.id),class: 'nav-item nav-link' %> 
	 	<%= link_to 'Edit Profile', edit_user_path(current_user.id),class: 'nav-item nav-link' %> 
		<%= link_to 'My Recipes',myrecipes_path,class: 'nav-item nav-link active' %> 
	</div>
</nav>
<div class="container"> 
	<div class="row">
		<div class="recipes-container">
			<%= render :partial=> "dishes/dishes",:locals=>{dishes:@dishes} %>
		</div>
	</div>
</div>