<div class="row"> 
  <div class="col-md-5"> 
    <div class="card single-dish">
      <%if dish.images.length > 0 %>
        <%= image_tag dish.images[0].image.to_s, class: 'dish-image' %>
      <% else %>
        <%= image_tag "home-2.jpeg", class: 'dish-image' %>
      <% end %>
      <div class="dish-name single-dish-details"><%= dish.name %></div>
      <div class="dish-price single-dish-details"><%= dish.price %></div>
      <div class="dish-rating single-dish-details" data-score="<%=  dish.average_stars %>"></div>
      <div class="card-body">
        <div class="card-text dish-description">
          <%= dish.description %>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <!-- <div>
            <%= link_to 'Back',dishes_path,class: 'btn btn-warning' %>
          </div> -->
          <div>
            <%= link_to 'Post review',new_dish_review_path(dish),class: 'btn btn-info' %>
          </div>
        </div>
        <div class="d-flex justify-content-end social-btns">
        <%= social_share_button_tag(dish.name, :image => "https://www.indianhealthyrecipes.com/wp-content/uploads/2014/11/chicken-curry-recipe.jpg",:desc => dish.description,"data-linkedin-description"=>"my site content") %> 
        </div>
      </div>
    </div>
  </div>
  <% if @reviews.length > 0 %>
    <div class="col-md-4 offset-1 reviews-container">
      <% @reviews.each do |r| %>
        <div class="reviews">
          <span class="username"><%= r.user.name if r.user.name%></span>
          <span class="dish-rating" data-score="<%= r.rating %>"></span>
          <div class="review">
            <%= r.review %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  <% end %>
</div>