<!DOCTYPE html>
<html>
  <head>
    <title>UsersFoodApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= content_for?(:head) ? yield(:head) : '' %>
     
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'style-responsive', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'Chart', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'jquery.dcjqaccordion.2.7', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.scrollTo.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.nicescroll', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.sparkline', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'common-scripts', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.gritter', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'gritter-conf', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sparkline-chart', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'zabuto_calendar', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless user_signed_in? || admin_signed_in? %>
      <script type="text/javascript">
        <% flash.each do |name,msg| %>
        toastr.error('<%= msg %>');
        <% end %>
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
